{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

    <div class="card">

        <div class="card-header bg-warning">
            <h3>{{ title }}</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label>Name</label>
                        {{ form.name }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Code</label>
                        {{ form.code }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Phone</label>
                        {{ form.phone }}
                    </div>

                    <div class="col-md-6 mb-3 d-flex align-items-end">
                        <div class="form-check">
                            {{ form.is_active }}
                            <label class="form-check-label ms-1">Active</label>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>Address</label>
                        {{ form.address }}
                    </div>

                </div>

                <button class="btn btn-success">Save</button>
                <a href="{% url 'branch_list' %}" class="btn btn-secondary">Cancel</a>

            </form>

        </div>

    </div>

</div>
{% endblock %}

